@model teste_cliente.Models.ForgotPassword;

<br />
<div class="fix-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="card mb-0 h-auto">
                    <div class="card-body">

                        <h4 class="text-center mb-4">Recuperar password</h4>
                    
                        <hr class="mt-4 mb-5" style="border-top: 1px solid #e0e0e0; opacity: 0.8;" />

                        <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>

                        <form asp-action="ForgotPassword">

                            <div class="form-group mb-4">
                                <label class="form-label" for="forgotPasswordEmail">Insira seu email para receber um link de recuperação da password: </label>
                                <input type="email" asp-for="Email" class="form-control" placeholder="Enter your email" id="forgotPasswordEmail">
                            </div>
                                <button type="submit" class="btn-register">Enviar link</button>
                            
                        </form>

                        <flash dismissable="true" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-register {
        background-color: #F89B3D;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 0.6rem 0.5rem;
        width: 30%;
        font-size: 0.85rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        display: block;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 20px auto; 
        width: 200px;
    }

        .btn-register:hover {
            background-color: #5de4d9;
        }

  

    .form-control {
        text-align: left;
        display: inline-block; 
    }
</style>

            